*.swp
.DS_Store
node_modules/
npm-debug.log
# Created by http://www.gitignore.io

### Bower ###
bower_components
test/fixture/styles/bootstrap.1956cc2d.css
test/fixture/styles/bootstrap.d0dcaad4.css
test/fixture/styles/main.b5ff4680.css
test/generated
